<form action="" [formGroup]="creditCardForm" (ngSubmit)='onSubmit()'>
  <div>
    <label for=""> Credit Card Number </label>
    <input type="number"  formControlName="creditCardNumber" required/>
    <div *ngIf="form.creditCardNumber.invalid && (form.creditCardNumber.touched || form.creditCardNumber.dirty)">
      invalid credit card number
    </div>
  </div>
  <div>
    <label for=""> Card Holder </label>
    <input type="text" name="" id="" formControlName="cardHolder" />
  </div>
  <div>
    <label for=""> Expiration Date </label>
    <input type="date" name="" id="" formControlName="expirationDate" />
  </div>
  <div>
    <label for=""> Security Code </label>
    <input type="number" name="" id="" formControlName="securityCode" />
  </div>
  <div>
    <label for=""> Amount </label>
    <input type="number" name="" id="" formControlName="amount" />
  </div>
  <button [disabled]='creditCardForm.invalid' type="submit">Submit</button>
</form>

<div>
  <pre>
    {{creditCard | json}}
  </pre>
</div>
