/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Roboto", sans-serif;
}

body {
  background: url("./assets/bg\ copy.png") no-repeat top center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
